---
// src/pages/blogs/[...slug].astro

/**
 * Blog Post Page
 * This page template is used to render individual blog posts.
 * It uses dynamic routing to match any URL under /blogs/* and renders the corresponding blog post based on the slug.
 * The getStaticPaths function generates static pages for all blog posts at build time, ensuring fast load times and SEO benefits.
 * The page receives the blog post data as props and renders the content using the BlogPostLayout, which includes features like a progress bar, table of contents, and update blocks.
 * The Markdown content of the blog post is rendered using the Content component provided by Astro's content collection system.
 */

import { getCollection } from 'astro:content';
import BlogPostLayout from '../../layouts/BlogPostLayout.astro';

// Core functions for Astro pages:
export async function getStaticPaths() {
  const posts = await getCollection('blogs');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;

const { Content, headings } = await post.render();
---

<BlogPostLayout
    title={post.data.title}
    description={post.data.description}
    pubDate={post.data.pubDate}
    headings={headings}
    updates={post.data.updates}
>
  <article>
    <div>
        <Content />
    </div>
  </article>
</BlogPostLayout>
